
html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
  background-color: black;
}

nav span{
  display: inline;
  padding: 20px 10px;
}

nav a{
  color: white;
}
header nav{
  padding-right:20px
}


/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  border: 1px solid red;
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  font-weight: bold;
  margin-left: 0px;
  position: fixed;
  z-index: 2;

}

.logo{
  display: flex;
  align-items: center;

}

.logo img{
  height: 50px;
  margin-left: 10px;
}

div {
  border: 1px solid red;
}

.main_container{
  position: static;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 1300px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto; /*causes it to render in middle*/
  padding-top: 0px;
  background-color: black;

}

.image_content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-color: black;
  height: 700px;
  width: 1200px;
  margin-top: 69px;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}
.mission_statement{

}

.image_content h2{
  background-color: black;
  margin-bottom: 0px;
}

.image_content h4{
  background-color: black;
  margin-top: 0px;
}

.teaofmonth{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.teaofmonth_title{
  text-align: center;
}

.teaofmonth_topphotos{
  display: flex;
  flex-direction: row;
}
#tea_menu_item{
  display: flex;
  flex-direction: column;
}
.teaofmonth_topphotos img{
  width: 300px;
  height: 200px;
}
.teaofmonth_bottomphotos img{
  width: 300px;
  height: 200px;
}
