
html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell; 
  opacity: .9;
  background-color: black;
}

nav span{
  display: inline;
  padding: 20px 10px;
}

nav a{
  color: seashell;
  opacity: .9;
  text-decoration: underline;  /* from Redline spec */
}
header nav{
  padding-right:20px
}


/* header */

header {
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;  /* from Redline spec */
  border-bottom: 1px solid seashell;   /* from Redline spec */
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
  top: 0;
  left: 0;
  position: fixed;  /*from Redline spec */
  z-index: 2;

}

.logo{
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.logo img{
  height: 50px;  /* from Redline spec */
  margin-left: 10px;  /*from Redline spec */
  margin-top: 0px;

}



.main_container{
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 1300px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto; /*causes it to render in middle*/
  padding-top: 0px;
  background-color: black;

}

.image_content{
  display: flex;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-color: black;
  height: 700px; /* from Redline Spec */
  width: 1200px; /* from Redline Spec */
  margin-top: 69px;
  text-align: center;
  justify-content: center;   /* from Redline Spec controls alignment vertically when flex-direction is column */
  align-items: center;
}
.mission_statement{
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;  /* from Redline Spec cntrls alignment vertically */
}

.mission_statement h2{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: auto;
}

.mission_statement h4{
  background-color: black;
  margin-top: auto;
  padding-top:10px;
  padding-bottom: 10px;
}

.teaofmonth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;  /* from Redline Spec */
}

.teaofmonth_title{
  text-align: center;
}

.teaofmonth_menu_upper{
  display: flex;
  flex-direction: row;
  width: 1000px;                /* from Redline Spec */
  justify-content: space-between;

}

.teaofmonth_menu_lower{
  display: flex;
  flex-direction: row;
  width: 650px;              /* from Redline - 1000px width - 300 for photo - 50 margin is 650 */
  justify-content: space-between;
}

#tea_menu_item{
  display: flex;
  flex-direction: column;

}


#tea_menu_item h4{
  margin-top: 10px;  /* from Redline Spec*/
  padding-top: 0px;
  text-align: center;
}

.teaofmonth img{
  width: 300px;    /* from Redline spec */
  height: 200px;   /* from Redline spec */
}

.locations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 500px;          /* from Redline Spec */
  width: 1200px;         /* from Redline spec */
  background-image: url("../images/img-locations-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.locations h2{
  text-align: center;
  margin-bottom: 15px; /* from Redline */
}

.locations h3, h4{
  opacity: 1;
}

.location_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location_listing{
  background-color: black;
  width: 300px;         /* from Redline */
  margin-right: 20px;   /*from Redline  40px between boxes */
  margin-left: 20px;   /* from Redline 40px between boxes */
  text-align: center;
  margin-bottom: 70px;
}

footer .bottom_heading{
  height: 200px;    /* from Redline */
  text-align: center;
}

footer #copyright{
  margin-left: 20px;  /* from Redline */
  text-align: left; /* from Redline */
}
